.mantine-Stepper-stepIcon {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  &[data-completed] {
    border-color: var(--mantine-color-violet-4);
    background-color: var(--mantine-color-violet-4);
  }
  &[data-progress] {
    border-color: var(--mantine-color-violet-4);
  }
}
.stepperSeparator {
  background-color: var(--mantine-color-dark-3);
  &[data-active='true'] {
    background-color: var(--mantine-color-violet-3);
  }
}
.stepperBtn {
  background-color: transparent;
  color: var(--mantine-color-white);
  border: 2px solid var(--mantine-color-violet-3);
  &[data-completed='true'] {
    background-color: var(--mantine-color-violet-4);
  }
}
